body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 53, 73, 1) 1%, rgba(11, 35, 44, 1) 40%, rgba(20, 20, 20, 1) 100%);
}

.left-item,
.right-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name1{
    color: #d1d1d1;
    font-size: 3.5em;
    text-shadow: 8px 6px 8px #0a0a0a;
    margin: 0;
    font-weight: 600;
}

.hi {
    font-size: 2em;
    color: #d1d1d1;
    margin: 0;
    text-shadow: 8px 6px 8px #0a0a0a;
}

.profilename {
    font-size: 1.6em;
    color: #28e7c4;
    float: right;
    margin: 0;
    text-shadow: 8px 6px 8px #0a0a0a;
}

.social-icons {
    margin-top: 50px;
}

.icons {
    width: 40px;
    height: 40px;
    background: #f6faff;
    border-radius: 50%;
    margin-right: 20px;
    padding: 2px;
    margin-bottom: 8%;
    box-shadow: 8px 6px 8px #0a0a0a;
}

.inline-img {
    float: inline-start;
    width: 22px;
    height: 22px;
    margin-top: 6px;
    margin-right: 8px;
    filter: drop-shadow(2px 2px 2px #0a0a0a);
}

.image img {
    width: 260px;
    height: 260px;
    align-self: center;
    background: #eaeaea;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 8px 6px 8px #0a0a0a;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
    .name1 {
        font-size:3em; 
    }
    .profilename {
        font-size: 1.2em;
    }

}
